/* Основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3  */
/* текст контактов в футере rgba(255, 255, 255, 0.6)*/
/* самый нижний текст подвала rgba(255, 255, 255, 0.4) */
/* основной цвет фона #E5E5E5 */
/* вторичный цвет фона #F5F4FA */
/* шапка #FFFFFF*/
/* подвал #2F303A */
html {
  box-sizing: border-box;
}

/* *,
*::before,
*::after {
  box-sizing: inherit;
} */

:root {
  --primary-text-color: #757575;
  --white-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-contact-text: rgba(255, 255, 255, 0.6);
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --icon-color: #afb1b8;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Utilities */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  display: block;
  text-decoration: none;

  color: var(--title-text-color);
}

/* Как скрыть заголовок */
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Для скрытия заголовка не подходит */
/* .section .title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  display: none;
} */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Page Header */
.page-header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: solid 2px; */
}

.nav {
  display: flex;
}

.main-container {
  display: flex;
  align-items: center;
}

.logo {
  display: block;

  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.nav > .logo {
  margin-top: 24px;
  margin-bottom: 25px;
}
.logo .logo-accent {
  color: var(--title-text-color);
}

/* site nav */
.site-nav {
  display: flex;
  margin-left: 85px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* auth  */

.auth {
  display: flex;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.auth .item + .item {
  margin-left: 50px;
}
.contact-icon {
  margin-right: 10px;
}

.header-contact {
  display: flex;
  align-items: center;
  fill: var(--primary-text-color);
  color: var(--primary-text-color);
}

.header-contact:hover {
  fill: var(--accent-color);
  color: var(--accent-color);
}

/* .icon-mail::before {
  background-image: url(../images/mail.svg);
}

.icon-mobile::before {
  background-image: url(../images/mobile.svg);
} */
/* .auth .contact:hover,
.auth .contact:focus {
  color: var(--accent-color);
} */

.auth .contact {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* hero */

/* .hero-container {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header.png);

  background-color: var(--footer-bg-color);
} */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header.png);

  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 200px;

  color: var(--white-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
}

/* section  features (choose) */

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-features {
  width: 270px;
}

.flex-features + .flex-features {
  margin-left: 30px;
}

/* .flex-features {
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;

  background-color: var(--secondary-background-color);
} */

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

/* Можно сделать так или через доп класс */

/* .flex-choose:nth-child(1)::before {
  background-image: url(../images/Locator.png);
}

.flex-choose:nth-child(2)::before {
  background-image: url(../images/clock.png);
}

.flex-choose:nth-child(3)::before {
  background-image: url(../images/diagram.png);
}

.flex-choose:nth-child(4)::before {
  background-image: url(../images/astronaut.png);
} */

/* .icon-locator::before {
  background-image: url(../images/locator.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
} */

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.section-subtitle {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

/* Чем мы занимаемся */

.flex-element {
  width: 370px;
}

.flex-element + .flex-element {
  margin-left: 30px;
}

.section p {
  margin-top: 0;
  margin-bottom: 0;
}

.element-thumb {
  position: relative;
}
.element-action {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;

  background-color: rgba(47, 48, 58, 0.8);
}

.section .subtitle {
  margin-top: 0;
  margin-bottom: 0;

  /* color: var(--white-text-color); */
  color: var(--white-text-color);
  /* пока что  */
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  align-items: center;
}

/* Our Team */

.flex-team {
  width: 270px;
}

/* .flex-team + .flex-team {
  margin-left: 30px;
} */

.flex-container .flex-team:not(:last-child) {
  margin-right: 30px;
}

.flex-link + .flex-link {
  margin-left: 10px;
}

/* .card-team {
  width: 270px;
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;

  background-color: var(--primary-background-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  border-left: 1px solid  #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
} */

.team-section {
  background-color: var(--secondary-background-color);
}
.team {
  padding-bottom: 24px;

  background-color: var(--primary-background-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.img-item {
  padding-bottom: 30px;
}
.team-section .name-title {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}

.team-section .job-position {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
}

.team-link:hover {
  background-color: var(--accent-color);
  fill: var(--white-text-color);
}

/* Our Partners */

.partners {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
}

.flex-partners + .flex-partners {
  margin-left: 30px;
}

.partners:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* Footer */

.footer {
  background-color: var(--footer-bg-color);
}

.footer-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: solid 2px; */
}

.flex-footer {
  display: flex;
  align-items: baseline;
  /* justify-content: space-between;  ????? */
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Footer logo */
.logo.inverse {
  margin-bottom: 20px;
}

.logo.inverse .logo-accent {
  color: var(--white-text-color);
}

/* Адрес */
.address {
  margin-right: 69px;
  font-style: normal;
}

.address .address-street {
  margin-top: 0;
  margin-bottom: 9px;

  color: var(--white-text-color);
}

.address .address-mail {
  margin-top: 0;
  margin-bottom: 9px;

  color: var(--footer-contact-text);
}

.address .address-phone {
  /* margin-top: 0; */
  color: var(--footer-contact-text);
}

.followus {
  margin-right: 94px;
}

.followus-tittle {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;

  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.followus-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-text-color);
}

.followus-link:hover {
  background-color: var(--accent-color);
}

/* Разработано / Devolped */
.footer-devolped {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

/* Button */
.button {
  display: inline-flex;
  /* border: 1px solid transparent; */
  min-width: 136px;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--white-text-color);
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;
}

.button.primary-button {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
/* сдеать иконку на кнопке !!!!!!!!!!!!!!!!!!!!!!! */

.followus > .primary-button::after {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  /* background-image: url(../images/footer-icon/iconsend.svg);
  background-position: center;
  background-size: contain; */
}

/* Portfolio page */

.flex-filter + .flex-filter {
  margin-left: 8px;
}

.section-filter {
  /* padding-top: 94px; */
  padding-top: 94px;
  padding-bottom: 50px;
}

/* portfolio-button */

.portfolio-button {
  background-color: var(--secondary-background-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.portfolio-button.filter-button:hover,
.portfolio-button.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.flex-examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

/* calc ((100% кол-во маржинов в строке * значение маржина) /  кол-во элементов в строке*/
.flex-project {
  width: calc((100% - 60px) / 3);
  /* или width: 370px; */
  margin-right: 30px;
  margin-bottom: 30px;

  background: var(--primary-background-color);
}

.project-action {
  position: relative;
}

.project-action::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  opacity: 0;
}
.project-action:hover::before {
  opacity: 1;
}

.section-subparagraph {
  position: absolute;
  padding: 60px 24px;
  top: 0;

  /* outline: 1px solid tomato; */
  /* width: 100%;
  height: 100%; */

  /* Чтобы поставить по центру нужна такая формула
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  margin-top: 0;
  margin-bottom: 0;

  color: var(--white-text-color);
  font-size: 18px;
  line-height: 1.6;

  opacity: 0;
}

.flex-project :hover,
.flex-project:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  opacity: 1;
}

.flex-project:nth-child(3n) {
  margin-right: 0px;
}

.flex-project:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.card-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.flex-project .card-content {
  padding: 20px 24px;
  width: 370px;

  background-color: var(--primary-background-color);
  border-left: 1px solid#eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid#eeeeee;
  box-shadow: none;
}

.section .section-projects {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  box-shadow: none;
}

.section .section-paragraph {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  box-shadow: none;
}

/* не рабатоет паадинг в заголовках, не переноситься на новую строку */
