@mixin centeredFlex($type) {
  display: $type;
  align-items: center;
  justify-content: center;
}

@mixin positionAbsolute() {
  position: absolute;
  left: 0;
  bottom: 0;
}

@mixin borderSizeColorRadius($size, $color, $radius) {
  border: $size solid $color;
  border-radius: $radius;
}
