$primaryBgColor: #ffffff;
$secondaryBgColor: #f5f4fa;
$heroBgColor: #2f303a;
$footerBgColor: #2f303a;
$backdropColor: rgba(0, 0, 0, 0.2);
$primaryTextColor: #757575;
$whiteTextColor: #ffffff;
$titleTextColor: #212121;
$accentColor: #2196f3;
$footerContactText: rgba(255, 255, 255, 0.6);
$iconColor: #afb1b8;
