// Форма
.form-group {
  position: relative;
  margin-bottom: 28px;
}

.form-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  line-height: 0.9;

  color: $titleTextColor;
}

.form-field {
  display: inline-flex;
  width: 100%;
  padding: 12px 19px;
  padding-left: 42px;

  @include borderSizeColorRadius(2px, rgba(33, 33, 33, 0.2), 4px);
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;

  letter-spacing: 0.01em;
  line-height: 1.1;

  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form-group:focus-within > & {
    color: $accentColor;
    transform: translateY(-43px) translateX(-28px) scale(0.85);
  }
  .form-field:not(:placeholder-shown) + & {
    fill: $accentColor;
    transform: translateY(-43px) translateX(-28px) scale(0.85);
  }
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 19px;

  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .form-group:focus-within > & {
    fill: $accentColor;
  }
}

.form-comment {
  padding: 12px 16px;
  width: 100%;
  resize: none;

  @include borderSizeColorRadius(2px, rgba(33, 33, 33, 0.2), 4px);
}

.form-confidentia {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.form-checkbox {
  @import '../utilities/visually-hidden';

  &:checked + .form-chekbox-icon {
    background-color: $accentColor;
    background-image: url('../../images/full-check.svg');
    background-origin: border-box;
    background-size: contain;
    border-color: transparent;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.form-chekbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  @include borderSizeColorRadius(2px, $titleTextColor, 2px);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-link {
  color: $accentColor;
}
