.logo {
  display: block;

  color: $accent-color;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  & .logo-accent {
    color: $title-text-color;
  }

  @media screen and (min-width: 768px) {
    margin-right: 80px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 85px;
  }
}
