.logo {
  display: block;

  color: $accent-color;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  & .logo-accent {
    color: $title-text-color;
  }
}

// Footer logo
.logo.inverse {
  @include marginTopBottom(0, 20px);

  & .logo-accent {
    color: $white-text-color;
  }
}
