.menu-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  background-color: $primary-bg-color;

  font-size: 18px;
  line-height: 1.17;

  &.is-open {
    // opacity: 1;
    display: block;
  }
  // &.is-hidden {
  //   pointer-events: none;
  // }
  @media screen and (max-width: 767px) {
    display: none;
    // opacity: 0;
    position: absolute;
    top: 101%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    text-align: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }
}
