html {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #757575;
  --white-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-contact-text: rgba(255, 255, 255, 0.6);
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --icon-color: #afb1b8;
  --backdop-color: rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Utilities */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  display: block;
  text-decoration: none;

  color: var(--title-text-color);
}

/* Как скрыть заголовок */
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Для скрытия заголовка не подходит */
/* .section .title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  display: none;
} */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Page Header */
.page-header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: solid 2px; */
}

.nav {
  display: flex;
}

.main-container {
  display: flex;
}

.logo {
  display: block;

  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.nav > .logo {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 85px;
}
.logo .logo-accent {
  color: var(--title-text-color);
}

/* site nav */
.site-nav {
  display: flex;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

/* Old School
.site-nav .item + .item {
  margin-left: 50px;
} */

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav-item {
  position: relative;
}

.current::after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(..//images/Header.png);

  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 200px;

  color: var(--white-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
}

.button {
  display: inline-flex;
  /* border: 1px solid transparent; */
  min-width: 200px;
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--white-text-color);
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;
}

.button.primary-button {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--backdop-color);

  opacity: 1;
  z-index: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Когда backdrop спрятан */
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* Когда backdrop спрятан и модалка */
.backdrop.is-hidden .modal {
  transform: scale(1.1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Модалка */
.modal {
  position: absolute;
  top: 49%;
  left: 50%;

  width: 528px;
  padding: 40px;

  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 8px;
  margin-right: 8px;
  display: inline-flex;
  width: 30px;
  height: 30px;

  justify-content: center;
  align-items: center;
  border-radius: 50%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-background-color);
}

.btn-close:hover {
  fill: #2196f3;
}

/* Форма */
.form-group {
  position: relative;
  /* display: block; для последнего метода (без id
  в привязке лейблов к инпутам вкладываем input
  в label) */
  margin-bottom: 28px;
}

.form-tittle {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  line-height: 0.9;

  color: var(--title-text-color);
}

.form-field {
  display: inline-flex;
  width: 100%;
  padding: 12px 19px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;

  letter-spacing: 0.01em;
  line-height: 1.1;

  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Когда есть фокус и нету, сдвигает input */
/* !!!!!!!!!!!!!!!!Это Old School !!!!!!!!!!!!!!!!! */
/* .form-field:focus + .form-label,
.form-field:not(:placeholder-shown) + .form-label {
  color: #2196f3;
  transform: translateY(-43px) translateX(-28px) scale(0.85);
} */

/* .form-field:focus ~ .form-icon {
  fill: #2196f3;
} */

/* 2 Метод (современный) без использования селектора + и ~
но все равно нужен порядок input'a и label 
и селектор placeholder-shown, что бы тескт в 
label не возвращался назад при потере автофокуса */

.form-group:focus-within > .form-label {
  color: #2196f3;
  transform: translateY(-43px) translateX(-28px) scale(0.85);
}

.form-group:focus-within > .form-icon {
  fill: #2196f3;
}

.form-field:not(:placeholder-shown) + .form-label {
  fill: #2196f3;
  transform: translateY(-43px) translateX(-28px) scale(0.85);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 19px;

  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  margin-bottom: 20px;
}

.form-comment {
  padding: 12px 16px;
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-confidentia {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.form-chekbox {
  margin-right: 8px;
}

.agreement-link {
  color: #2196f3;
}
