$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$hero-bg-color: #2f303a;
$footer-bg-color: #2f303a;
$backdrop-color: rgba(0, 0, 0, 0.2);
$primary-text-color: #757575;
$white-text-color: #ffffff;
$title-text-color: #212121;
$accent-color: #2196f3;
$footer-contact-text: rgba(255, 255, 255, 0.6);
$icon-color: #afb1b8;
